<?!= include('templates/includes/header') ?>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">

                <div class="card">
                    <div class="card-body">
                        <div class="card-title h3">
                            ¡No eres docente del curso!
                        </div>
                        <hr>
                        <div class="card-text">
                            <div class="alert alert-danger" role="alert">
                                Para poder obtener datos del curso de Classroom al que intentas acceder por favor ponte en contacto con el docente del curso.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <?!= include('templates/includes/footer') ?>